1. Reverse a given list in Python
aList = [100, 200, 300, 400, 500]
output:
[500, 400, 300, 200, 100]

In [ ]:
l1=[100, 200, 300, 400, 500]
l1[::-1]
print(l1)

l1.reverse()
print(l1)

[500, 400, 300, 200, 100]
None

2. take a list 'l1' of even nos between 150 to 250. Print its length.
Then create another list 'l2' using 'l1', containing only nos divisible by 4 from 'l1'.

In [ ]:
l1=[ele for ele in range(150,251) if (ele%2)==0]
print("Length of l1: ",len(l1))
l2=[ele for ele in l1 if (ele%4)==0]
print("Length of l2: ",len(l2))

Length of l1:  51
Length of l2:  25

3. Given a Python list of numbers. Turn every item of a list into its square root
aList = [1, 4, 9, 16, 25, 36, 49]
output:
[1, 2, 3, 4, 5, 6, 7]

In [ ]:
import math
l1=[1, 4, 9, 16, 25, 36, 49]
l1=[int(math.sqrt(ele)) for ele in l1 ]
print(l1)

[1, 2, 3, 4, 5, 6, 7]

4. Print two lists in the following order
list1 = [5, 6,7]
list2 = [0, 1]
output:
50,51,60,61,70,71

In [ ]:
list1 = [5, 6,7]
list2 = [0, 1]

for i in list1:
  for j in list2:
    print(str(i)+str(j), end=",")

50,51,60,61,70,71,

5. Given a two Python list. Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order. It should work for any two lists.
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
output:
10 400
20 300
30 200
40 100

In [ ]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
list2.reverse()

for l1, l2 in zip(list1, list2):
  print(l1 ,l2)

10 400
20 300
30 200
40 100

In [ ]:
numbers = [1, 2, 3, 4]
numbers.append([5,6,7,8])
print(numbers)

[1, 2, 3, 4, [5, 6, 7, 8]]

6. Remove empty strings from the list of strings
list1 = ["Ashish", "", "Atharva", "Amit", "", "Revati"]
output:
["Ashish", "Atharva", "Amit", "Revati"]

In [ ]:
list1 = ["Ashish", "", "Atharva", "Amit", "", "Revati"]

for i in list1:
  if i=='':
    list1.remove(i)
print(list1)

['Ashish', 'Atharva', 'Amit', 'Revati']

7. Add item 7000 after 6000 in the following Python List
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
output:
[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [ ]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

list1[2][2].append(7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

8. Given a nested list extend it by adding the sub list ["h", "i", "j"] in such a way that it will look like the following list

list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
Sub List to be added = ["h", "i", "j"]
output:
['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

solution
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
subList = ["h", "i", "j"]
list1[2][1][2].extend(subList)
print(list1)

In [ ]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
l2=["h", "i", "j"]

list1[2][1][2].extend(l2)  #we r not using append here bcoz it will insert list l2 whichis not our solution
print(list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

9. Given a Python list, find value 20 in the list, and if it is present, replace it with 200. Only update the first occurrence of a value
list1 = [5, 10, 15, 20, 25, 50, 20]
output:
list1 = [5, 10, 15, 200, 25, 50, 20]

In [ ]:
list1 = [5, 10, 15, 20, 25, 50, 20]
a=list1.index(20)
print(a)
list1.insert(a,200)
print(list1)

3
[5, 10, 15, 200, 20, 25, 50, 20]

In [ ]:
list1 = [5, 10, 15, 20, 25, 50, 20]
for i in range(len(list1)):
    if list1[i] == 20:
        list1[i] = 200
        break
print(list1)

10. Given a Python list, remove all occurrence of 20 from the list
list1 = [5, 20, 15, 20, 25, 50, 20]
output:
[5, 15, 25, 50]

In [ ]:
list1 = [5, 20, 15, 20, 25, 50, 20]

for i in list1:
  if i==20:
    list1.remove(20)
print(list1)

[5, 15, 25, 50]

11. Take a number as input from user.
Print maximum and minimum integer which can be generated using all the digits in the input number
Ex. Input 3421   : o/p max: 4321, min 1234
Input 7789    : o/p max: 9776   min 6779

In [ ]:
num=input("Enter a number: ")
l1=[*num]

l1.sort()
print("Asending order: ","".join(l1))

l1.sort(reverse=True)
print("Descending order: ","".join(l1))

Enter a number: 3421
Asending order:  1234
Descending order:  4321

11. Take a number as input from user.
Print maximum and minimum integer which can be generated using all the digits in the input number
Ex. Input 3421   : o/p max: 4321, min 1234
Input 7789    : o/p max: 9776   min 6779

In [ ]:
n=input("Enter a number: ")
n=[*n]

n.sort()
print("Min: ","".join(n))

n.sort(reverse=True)
print("Max: ","".join(n))

Enter a number: 3421
Min:  1234
Max:  4321

12. Take integer from user and print all odd numbers which can be generated using any number of digits from given number
Ex.
Input: 3421  o/p: 1,3,13,43,23,31,41,21,421,241,341,431,423,243,143,413,1243,1423,4213,4123, 2413,2143, .. etc

In [ ]:
from itertools import permutations
n=input("Enter a number: ")
n=[*n]
l2=[]
for i in range(1,len(n)+1):
  a=permutations(n,i)
  for j in list(a):
    l2.append("".join(j))
l2=[ele for ele in l2 if (int(ele)%2)!=0]
print(l2)

Enter a number: 3421
['3', '1', '31', '43', '41', '23', '21', '13', '341', '321', '431', '423', '421', '413', '231', '243', '241', '213', '143', '123', '3421', '3241', '4321', '4231', '4213', '4123', '2341', '2431', '2413', '2143', '1423', '1243']

In [ ]:
from itertools import permutations
num=input("Enter a number :")
l1=[*num]
str1=''
l2=[]
for i in range(1,len(l1)):
    perm=permutations(l1,i)

    for j in list(perm):
        l2.append(str1.join(j))
l3=[ele for ele in l2 if int(ele)%2!=0]
print(l3)

Enter a number :3421
<itertools.permutations object at 0x7cef2f240bd0>